<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	</head>
	<body>

	    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
		
		<script type="text/javascript" src="/javascripts/company.js"></script>

		<script type="text/javascript" src="/javascripts/main.js"></script>
	</body>
</html>
