body {
    font-family: "helvetica";

}
#titleBar {
  position: relative;float:left;height: 30px; width: 110%; margin-top: 0px; border-bottom: 1px solid #DEDEDE;
  z-index: 100;
}
.container{
  width:90%; padding-left: 30px;padding-top: 40px;
}
.optionRow {
  width: 90%; height: 40px; padding-top: 5px;
}
.optionButton{
  height: 25px; border: 1px solid black; margin-top: 10px; margin-left: 10px;
}
.optionButton:active{
  outline: 2px solid blue; background: white;
}
.commandBody{
  width: 100%; height:60%; margin-top: 60px; position: relative;float: left;
}

.commandList{
  position: relative;float: left; width: 180px; height: 100%; overflow: clipped;
  margin-top: 10px;
}
.commandOption{
  height: 30px;width: 100%; position: relative;float: left; border: 1px solid #DEDEDE; background-color: white ;margin-top:2px;
}
.rebootOption{
  height: 30px;width: 100%; position: relative;float: left; border: 0px solid red; background-color: white ;margin-top:30px;
  border-radius: 6px; color: red;
}
.commandOption:hover { outline: 1px solid blue; }
.commandOutput{
    position: relative;float: left; width: 45%; height: 100%; margin-top: 10px; padding-left: 20px;
}
.commandExplanation{
    position: relative;float: left; width: 30%; height: 100%; margin-top: 10px;
}
.ipEntryRow{
  height: 30px;width: 100%; position: relative;float: left; background-color: white;
  margin-top: 40px; margin-left: 5%;
}
.ipEntryText{
  text-align: center;position: relative;float: left; width:150px; padding-top: 8px;
}

.ipEntryInput{
  text-align: center;; position: relative;float: left; width:150px; border: 1px solid red; height: 35px; border-radius: 2px;
  font-weight: bold;
}
input.ipEntryInput:focus {
    outline: none;
}
.dhcpActionRow{
    height: 40px;width: 60%; font-size: 16px; margin-left: 70px;
}
.dhcpTable{
    height: 300px;width: 100%; font-size: 12px;
}
.dhcpTableHeader{
  position: relative;float: left; width: 40%; margin-bottom: 20px; text-align: center;
}

.dhcpRow{
  height: 30px;width: 100%; position: relative;float: left; background-color: white;
  margin-top: 1px;
}
.dhcpIPCell{
    height: 30px;width: 40%;position: relative;float: left;align:center;padding-left: 0px; overflow: clipped;text-align: center;
}
.dhcpDataCell{
    height: 30px;width: 40%;position: relative;float: left;align:center;padding-left: 0px; overflow: clipped;text-align: center;
}
.clearLeaseButton{
  height: 30px;width: 220px;position: relative;float: left;
  border: 1px solid #DEDEDE; border-radius: 4px; background: white;
}
.wifiStatusRow {
  width:100%;position: relative;float: left; margin-top: 5px;
}
.wifiStatusRowText {
  position: relative;float: left;
}
.wifiStatusRowButton {
  position: relative;float: left; margin-left: 20px;
}
